/* GLOBAL STYLES
-----------------*/
/* Apply a natural box layout model to all elements */
*, *:before, *:after {
  box-sizing: border-box;
}

/* Fixes the clearing of floats on child elements */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body {
  font-family: "Merriweather", serif;
  line-height: 1.5;
  background: url(../images/background.jpg) no-repeat fixed;
  background-position: 50%;
  background-size: cover;
}

nav {
  font-family: "Arial", sans-serif;
}

h1 {
  font-family: "Satisfy", cursive;
  font-size: 80px;
  font-weight: 300;
  margin: 0;
  text-shadow: 5px 1px 3px #060606;
}

.navbar-brand,
.navbar-text {
  font-family: "Satisfy", cursive;
}

h2, h3, h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  margin: 0;
}

h2, h3 {
  text-transform: none;
}

h2 {
  font-size: 32px;
}

section h2 {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

a {
  color: #0fa366;
  transition: all 0.5s ease;
}
a:hover {
  color: #666666;
  text-decoration: #666666;
}

.content-wrap {
  max-width: 1000px;
  margin: 0 auto;
  padding: 80px 0;
  /* and / or */
  width: 80%;
}

/* HEADER
----------*/
header {
  text-align: center;
  padding: 150px 0;
  color: #0fa366;
}

/* COMMON SECTION STYLES
-------------------------*/
.how-works,
.about-us {
  background: #fefefe;
}

.profile,
.pricing,
.contact {
  color: #fff;
}

/* PROFILE
-------------*/
.profile {
  background: rgba(0, 0, 0, 0.7);
}

.profile h2 {
  background: #0fa366;
  display: inline-block;
  padding: 10px 20px;
  transform: scale(2deg);
  margin-bottom: 10px;
  margin-top: 10px;
  border: none;
  transition: all 0.5s ease;
}

.profile h2:hover {
  transform: rotate(4deg);
}

.profile .summary {
  float: left;
  width: 100%;
}

.profile ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

/* ABOUT US
------------*/
.item {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  padding: 20px 0;
}

.item:last-child {
  border-bottom: none;
  margin-bottom: 0;
}

.about-us .details {
  float: left;
  width: 30%;
  padding-right: 30px;
}

.about-us .description {
  font-size: 15px;
  width: 80%;
  float: right;
}

.about-us .description p:first-child {
  margin-top: 8px;
}

.date {
  font-family: "Satisfy", cursive;
  font-size: 30px;
  font-weight: bolder;
  letter-spacing: 0.08em;
  color: #0fa366;
}

/* PRICING
----------*/
.pricing {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/background.jpg) no-repeat fixed 50%;
  background-size: cover;
  text-align: center;
  font-size: 20px;
}

.pricing h3 {
  margin: 20px;
}

.pricing h4 {
  margin-bottom: 10px;
  color: #0fa366;
}

.pricing i {
  color: #0fa366;
}

.pricing-list .columns {
  width: 33.33%;
  float: left;
}

.pricing-list ul,
.pricing-circles ul {
  list-style-type: none;
  padding: 0;
}

.pricing-circles ul li {
  height: 150px;
  width: 150px;
  line-height: 150px;
  display: inline-block;
  padding: 0 10px;
  border: 2px solid #0fa366;
  border-radius: 50%;
  background: black;
}

.pricing-circles span {
  line-height: normal;
  display: inline-block;
  vertical-align: middle;
}

/* VISIT
---------*/
.visit {
  background: url(../images/visit.jpg) no-repeat fixed;
  background-size: cover;
}

#googleform {
  text-align: center;
}

/* MAP
---------*/
#map {
  height: 300px;  /* The height is 400 pixels */
  width: 100%;  /* The width is the width of the web page */
}

/* CONTACT & FOOTER
--------------------*/
.contact {
  background: #111;
}

.contact p {
  margin: 0;
}

.contact p:first-of-type {
  margin-top: 35px;
}

.social {
  float: left;
  text-align: left;
  font-size: 30px;
  margin: 20px 0 0 -8px;
}

.social a {
  margin: 0 8px;
}

.social a:hover {
  color: white;
}

footer {
  clear: both;
  font-size: 12px;
  margin-top: 50px;
}
