 html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: Georgia, Times, "Times New Roman", serif;
    line-height: 1.5;
    background: url(../images/background-4.jpg);
 	background-repeat: no-repeat;
 	background-attachment: fixed;
 	background-position: 50%;
 	background-size: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 ,
ul,
p {
	margin: 0;
	font-size: 16px;
}

 header { 
 	padding: 150px 0;
 	text-align: center;
 }  

 .content-wrap {
 	width: 90%;
 	max-width: 1000px;
 	margin: 0 auto;
 	padding: 60px;
 }

 .profile { 
 	background: gray;
 	color: rgba(255, 255, 255, 0.8);
 } 

 .work-experience { 
 	background: rgb(211,211,211);
 }  

 .skills { 
 	background: gray;
 	color: rgb(255, 255, 255);
 	background: url(../images/background-5.jpg);
 	background-repeat: no-repeat;
 } 

 .education {
 	background: rgb(211,211,211);
  }  

 .contact {
 	background: gray;
 	color: rgb(255, 255, 255);
 }


h1, h2, h3 {
	font-weight: 400;

}

h2, h3 {
	text-transform: uppercase;
}

h2, h3 {
	font-family: "Helvetica Neue";
}

h1 {
    font-family: 'Lato';
	font-size: 50px;

}
h2 {
    font-family: 'Lato';
    font-size: 32px;
}

.profile {
	font-size: 0;
}
.profile img {
	width:30%;
}

.summary {
	display: inline-block;
	width: 70%;
	font-size: 16px;
	vertical-align: top;
	padding-left: 20px;
}

.work-experience .item {
	font-size: 0;
}

.details, .description {
	width: 50%;
	display: inline-block;
	font-size: 16px;
	vertical-align: top;
}

.skills-list {
	font-size: 0;
}
.columns {
	width: 33%;
	font-size: 16px;
	display: inline-block;
	vertical-align: top;
	text-align: center;
}

.skills-circles {
	font-size: 0;
}

 .skills-circles ul li {
	width: 25%;
	font-size: 16px;
	display: inline-block;
	text-align: center
}


.education .item {
	font-size: 16px;
	margin-bottom: 20px;
}